---
title: 'Bots, Fraude y el Negocio de Romper Juegos'
description: 'placeholder de descripción'
presenter: 'Alberto Guerra Gonzalez'
organization: 'Riot Games'
date: '2026-03-10'
start: '10:45'
end: '12:30'
layout: info
---
