---
title: Colaborar
description: Información para ponentes, conductores de talleres y patrocinadores para colaborar en la Hackers Week
layout: main
---

<script lang="ts">
  import {
    PUBLIC_CALL_FOR_PAPERS_OPEN,
    PUBLIC_SPONSORS_FORM_OPEN,
    PUBLIC_EVENT_START_DATE,
    PUBLIC_EVENT_END_DATE
  } from "$env/static/public";
  import { Temporal } from "temporal-polyfill-lite";

  const start = Temporal.PlainDate.from(PUBLIC_EVENT_START_DATE).day;
  const end = Temporal.PlainDate.from(PUBLIC_EVENT_END_DATE).toLocaleString('es', {
    year: 'numeric', month: 'long', day: 'numeric'
  });
</script>

El Consejo de Estudiantes de la Escuela Técnica Superior de Ingeniería Informática
de la Universidad de Málaga se ha puesto en marcha para organizar la "[Hackers Week](/)".

El evento se celebra del <time datetime={PUBLIC_EVENT_START_DATE}>{start}</time>
al <time datetime={PUBLIC_EVENT_END_DATE}>{end}</time>.

## Modalidades de Presentación
Los autores pueden optar por diferentes modalidades de presentación:

- Ponencias
- Talleres

La duración de la actividad tendrá una duración máxima a **1 hora y 45 minutos**.

## Envío de Propuestas

{#if PUBLIC_CALL_FOR_PAPERS_OPEN}
Si estás interesado en participar como ponente o conductor/a de una actividad,
puedes rellenar el formulario a continuación.

<a href="https://ceetsii.uma.es/limesurvey/index.php?r=survey/index&sid=721516&lang=es" target="_blank">
  <button>Formulario de Propuestas</button>
</a>
{:else}
El periodo de envío de propuestas ya ha terminado para esta edición.
Muchas gracias a todos los ponentes!
{/if}

## Sponsors / Colaboración

{#if PUBLIC_SPONSORS_FORM_OPEN}
Si estás interesado en contribuir de manera económica a la Hackers Week, puedes rellenar el formulario de patrocinios
y consultar el dossier de patrocinadores.

<a href="https://ceetsii.uma.es/limesurvey/index.php?r=survey/index&sid=985564&lang=es" target="_blank">
  <button>Formulario de Patrocinios</button>
</a>

<a href="https://ceetsii.uma.es/nextcloud/s/e2aCNDAkdqHm7cE" target="_blank">
  <button>Dossier de Patrocinadores</button>
</a>
{:else}
El programa de patrocinios de esta edición ya ha cerrado en esta edición.
{/if}
