---
title: 'Ingeniería de la Salud, del Aula a la Empresa'
description: 'Egresados con trayectorias muy diversas compartirán sus experiencias'
presenter: 'Egresados salud'
type: 'ponencia'
location: '3.0.2'
date: '2026-03-10'
start: '10:45'
end: '12:30'
layout: article
---

<enhanced:img
  src="$lib/assets/carteles/IngSalud.png?w=800,400"
  width="400"
  sizes="400px"
  alt="{title}"
/>

¿Qué opciones hay después de terminar Ingeniería de la Salud?

En esta charla, egresados con trayectorias muy diversas compartirán sus experiencias.

<a href="https://www.eventbrite.com/e/ingenieria-de-la-salud-del-aula-a-la-empresa-tickets-1984289352870" target="_blank">
  <button>Entradas</button>
</a>
