---
title: 'Jornadas de Rol'
description: 'Sesiones de Rol'
type: 'actividad'
location: 'Salas de reunión A y B'
date: '2026-03-12'
start: '16:00'
end: '20:30'
layout: article
---

El día **jueves 12 y viernes 13 de marzo de 16:00 a 20:30** se celebrarán en la cuarta planta del edificio biblioteca,
salas de reunión A y B las sesiones de rol.

<a href="http://u.uma.es/hxq/" target="_blank">
  <button>Inscripciones</button>
</a>
