---
title: "Vivir sin COM-promisos: Del acceso inicial a la persistencia en operaciones Red Team"
description: 'placeholder de descripción'
presenter: 'David Palomar'
organization: 'Accenture'
date: '2026-03-11'
start: '10:45'
end: '12:30'
layout: article
---