---
title: 'Vivir sin COM-promisos: Del acceso inicial a la persistencia en operaciones Red Team'
description: 'Red Team y persistencia COM en Windows'
presenter: 'Por confirmar'
organization: 'Accenture'
type: 'ponencia'
date: '2026-03-11'
start: '10:45'
end: '12:30'
layout: article
---

**Lugar**: 3.0.2

En esta ponencia se verá todo lo referente a lo que es un ejercicio de Red Team,
una técnica de persistencia COM y una parte práctica referente a la persistencia COM.

**AVISO**: Para hacer la parte práctica necesitarás
- Traer tu portátil
- Tener una VM de Kali Linux
- Tener una VM de Windows configurado en modo puente
- Snapshot OBLIGATORIO!

<a href="https://www.eventbrite.com/e/vivir-sin-com-promisos-del-acceso-inicial-a-la-persistencia-tickets-1984235703403" target="_blank">
  <button>Entradas</button>
</a>
