---
title: 'Construye y Despliega tu API Ready-for-Production: Minimal API en C#, Github Actions y Azure'
description: 'Un taller donde llevar a la práctica tu propia API'
presenter: 'Javier Torralbo Cortés, Alejandro Cerezo Contreras'
type: 'taller'
date: '2026-03-11'
start: '17:30'
end: '19:15'
layout: article
---

**Lugar**: 3.1.7

<enhanced:img
  src="$lib/assets/carteles/ConstruyeYDespliegaTuApi.png?w=800,400"
  width="400"
  sizes="400px"
  alt="{title}"
/>

¿Cansado de que tus proyectos solo funcionen en tu máquina?

En esta sesión práctica, cerraremos la brecha entre el desarrollo local y la producción real.
Aprenderás a construir desde cero una Minimal API en C# siguiendo estándares de calidad,
incluyendo la implementación de unit testing para asegurar un código robusto antes de dar el salto a la nube.

Transformaremos el flujo de trabajo manual en un pipeline automatizado de CI/CD utilizando GitHub Actions y
veremos cómo integrar el despliegue continuo en Azure de forma eficiente, permitiéndote pasar de una idea a una API lista para producción en tiempo récord.

Es el momento de llevar tu software más allá del localhost y dominar el ciclo completo del despliegue moderno. 

<a href="https://www.eventbrite.com/e/construye-y-despliega-tu-api-ready-for-production-tickets-1984235813733" target="_blank">
  <button>Entradas</button>
</a>
