# Participar como ponente

Esta es la parte donde eres ponente, o más bien lo quieres ser.
Queriendo ser ponente rellenas el [siguiente formulario](https://ceetsii.uma.es/limesurvey/index.php?r=survey/index&sid=721516&lang=es).

También rellenas [el de patrocinios](https://ceetsii.uma.es/limesurvey/index.php?r=survey/index&sid=985564&lang=es) porque necesitamos dinero.
