---
title: 'Torneo Valorant'
type: 'torneo'
date: '2026-03-14'
start: '10:45'
end: '16:00'
layout: article
---

¡Ya están abiertas las inscripciones para el torneo de Valorant de la Hackers Week 12!

Tendrán lugar el 14 de marzo.

<a href="http://u.uma.es/hyq/" target="_blank">
  <button>Inscripciones</button>
</a>
