---
title: 'Análisis de datos con IA: menos código, más insights'
description: 'placeholder de descripción'
presenter: 'Ismael Pineda Palencia'
organization: 'Fortris'
date: '2026-03-10'
start: '17:30'
end: '19:15'
layout: info
---
