---
title: 'Análisis de datos con IA: menos código, más insights'
description: 'Un taller en el que poner en práctica la optimización del análisis de datos utilizando distintos LLM con Python'
presenter: 'Ismael Pineda Palencia'
organization: 'Fortris'
date: '2026-03-10'
start: '17:30'
end: '19:15'
layout: article
---

En este taller nos adentraremos en cómo la inteligencia artificial y los modelos de lenguaje de gran tamaño (LLM) están revolucionando el análisis de datos.

Desde la automatización de tareas tediosas como la preparación de datos y el análisis exploratorio (EDA) hasta la simplificación de la visualización, con el objetivo deextraer insights y tomar mejores decisiones sin apenas necesidad de código.

A través de ejemplos guiados con Python utilizaremos la IA y los LLM para demostrar como ahorran tiempo, optimizan el flujo de trabajo y eliminar la necesidad de tareas repetitivas o de programación compleja.

Tanto si eres un analista con experiencia como si estás dando tus primeros pasos, esta sesión introductoria mostrará formas prácticas de mejorar tu proceso de análisis de datos con IA.

<a href="https://www.eventbrite.com/e/analisis-de-datos-con-ia-menos-codigo-mas-insights-tickets-1984234320266" target="_blank">
  <button>Entradas</button>
</a>
