---
title: 'Introducción al hacking hardware'
description: 'Una ponencia sobre el flujo de trabajo y herramientas en el hacking hardware'
presenter: 'David Santo Orcero & David Reguera'
date: '2026-03-09'
start: '10:45'
end: '11:30'
layout: article
---

En esta conferencia comentaremos las técnicas más útiles de hacking de disposivios hardware,
y veremos un modelo de flujo de trabajo y herramientas (hardware y software)
para poder hacer un test de intrusión a dispositivos empotrados e IoT.
